html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
body {
  margin: 0;
  padding: 0;
  background: #f5f7fa;
  font-family: sans-serif;
  color: #444;
}
#menu { float: right; margin: 6px 0 0 0; padding: 0;}
#menu li { display: inline-block; margin: 0 20px 0 0; padding: 0;}
a { color: #2c81ba; text-decoration: none; }
a:hover { text-decoration: underline; }
pre {
    font: 13px/1.25 'Menlo', monospaced;
}
.condensed {
  font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
}
.subscribe__header {
  margin: 0 0 20px;
  text-transform: uppercase;
}
.subscribe__caption {
  margin-bottom: 5px;
  color: #00ad5d;
  font-size: 1.125em;
  display: block;
}
.subscribe__description {
  font-size: .875em;
}
.subscribe {
  max-width: 270px;
  min-width: 250px;
  margin: 20px 0 0 0;
  padding: 20px 10px;
  box-sizing: border-box;
  background: #fff;
  text-align: left;
}
.form__input, .form__textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 12px;
  border: 0;
  background: #f5f7fa;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: .875em;
}
.subscribe__input {
  margin-bottom: 10px;
}
.subscribe__submit {
  width: 100%;
  padding: 10px 0;
}
.form__submit {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 10px 30px;
  background: #00ad5d;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background .4s cubic-bezier(.165,.84,.44,1) 0ms;
  color: #fff;
  font-size: .875em;
  text-transform: uppercase;
}
#tester {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #f5f7fa;
  border-bottom: 2px solid #ccd6e5;
  padding: 20px 0 20px;
  margin: 0 20px;
}
#testPopup {
  cursor: pointer;
  background-color: #ff8951;
  color: #fff;
  border: 1px solid #ff8951;
  border-radius: 3px;
  width: 115px;
  padding: 6px 12px;
  transition: background-color .15s ease-out;
  text-transform: uppercase;
}
#testPopup:hover {
  background-color: #f65b13;
}
#testPopup:focus {
  outline: none;
}
